<section class="users-section">
<h2>Friend Requests</h2>
  <ul class="users-list">
      <% @users.each do |user| %>
        <% if request_recieved?(user)%>
          <li> Friend Request: <%= user.name%> </li>
          <%= button_to "Accept Friend Request", friendship_path(user), :method => :put %>
          <%= button_to "Decline Request", friendship_path(current_user.id), method: :delete %>

        <%end%>
      <%end%>
  </ul>
  <h2>Users List</h2>
  <ul class="users-list">
  
    <% @users.each do |user|%>
    <%unless current_user_is_user?(user) %>
   <li> Name: <%= user.name %> </li>
    <% if request_sent?(user) %>   
    <p>Friendship Request Pending</p>
    <%= button_to "Cancel Request", friendship_path(user.id), method: :delete %>
    <% elsif is_friend?(user)%>
      <%= button_to "Unfriend", friendship_path(user.id), method: :delete %>
    <% elsif is_friend_reverse?(user)%>
      <%= button_to "Unfriend", friendship_path(current_user.id), method: :delete %>     
    <% elsif request_sent?(user)%>
      <%= button_to "Decline Request", friendship_path(current_user.id), method: :delete %>
     <%= button_to "Accept Friend Request", friendship_path(user), :method => :put %>
    <% else%>
     <%= button_to "Add Friend", friendships_path, params: {friend_id: user.id}%>
    <%end%>

   <span class = "profile-link">
   <%= link_to "See Profile", user_path(user), class: 'profile-link'%>
  
   </span>
       <%end%>
<%end%>